<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <h1 class="mt-4">Guestbook Modify Page</h1>
        <form action="/guestbook/modify" method="post">

            <!--페이지 번호-->
            <input type="hidden" name="page" th:value="${requestDTO.page}">

            <div class="form-group">
                <label>Gno</label>
                <input type="text" class="form-control" name="gno" th:value="${dto.gno}" readonly>
            </div>

            <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" name="title" th:value=${dto.title}
                       placeholder="Enter Title" >
            </div>
            <div class="form-group">
                <lavel>Content</lavel>
                <textarea class="form-control" row="5" name="content" >[[${dto.content}]]</textarea>
            </div>
            <div class="form-group">
                <lavel>Content</lavel>
                <input type="text" class="form-control" name="writer" th:value="${dto.writer}" readonly>
            </div>
            <div class="form-group">
                <lavel>RegDate</lavel>
                <input type="text" class="form-control"
                       th:value="${#temporals.format(dto.regDate, 'yyyy/mm/dd HH:mm:ss')}" readonly>
            </div>
            <div class="form-group">
                <lavel>ModDate</lavel>
                <input type="text" class="form-control"
                       th:value="${#temporals.format(dto.modDate, 'yyyy/mm/dd HH:mm:ss')}" readonly>
            </div>

        </form>

        <button type="button" class="btn btn-primary modifyBtn">Modify</button>
        <button type="button" class="btn btn-info listBtn">List</button>
        <button type="button" class="btn btn-danger removeBtn">Remove</button>

        <script th:inline="javascript">
            var actionForm = $("form"); // form tag 객체

            $( ".removeBtn").click(() => {
                actionForm
                    .attr("action", "/guestbook/remove")
                    .attr("method", "post");

                actionForm.submit();
            })

            $(".modifyBtn").click(()=> {
                if(!confirm("수정하시겠습니까?")) {
                    return;
                }
                actionForm
                    .attr("action", "/guestbook/modify")
                    .attr("method", "post")
                    .submit();
            })

            $(".listBtn").click(() => {
                var pageInfo = $("input[name='page']");

                actionForm.empty();             //form 태그의 모든 내용 제거
                actionForm.append(pageInfo);    //목록 페이지 이동에 필요한 내용 다시 추가
                actionForm
                    .attr("action", "/guestbook/list")
                    .attr("method", "get");

                // console.log(actionForm.html()); // 확인 후 주석처리
                actionForm.submit();
            })
        </script>
    </th:block>
</th:block>
</html>